<!DOCTYPE html>
<html>
<head>
    <title>Материалы</title>
    {{ vite_entry_script_tags('materials') }}
    {{ vite_entry_link_tags('materials') }}
</head>
<body>
<div id="vue-materials"></div>
</body>
</html>
