<!DOCTYPE html>
<html>
<head>
    <title>Запросы</title>
    {{ vite_entry_script_tags('requests') }}
    {{ vite_entry_link_tags('requests') }}
</head>
<body>
<div id="vue-requests"></div>
</body>
</html>
