<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <link href="{{ asset('build/assets/style.css') }}" rel="stylesheet">
    <script type="module" src="{{ asset('build/js/requests.js') }}"></script>
</head>
<body>
<div id="vue-requests"></div>
</body>
</html>
