<!DOCTYPE html>
<html>
<head>
    <title>Расписание</title>
    {{ vite_entry_script_tags('schedule') }}
    {{ vite_entry_link_tags('schedule') }}
</head>
<body>
<div id="vue-schedule"></div>
</body>
</html>
