<!DOCTYPE html>
<html>
<head>
    <title>Пользователи</title>
    {{ vite_entry_script_tags('users') }}
    {{ vite_entry_link_tags('users') }}
</head>
<body>
<div id="vue-users"></div>
</body>
</html>
